<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.lzh.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--允许读取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许读取wifi网络状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name="cn.lzh.common.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="cn.lzh.common.activity.DemoMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.lzh.common.activity.FlowLayoutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.lzh.common.activity.GroupImageViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.lzh.common.activity.RingProgressBarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.lzh.common.activity.DialogDemoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.lzh.common.activity.UtilActivity"
            android:launchMode="singleTop" />

        <receiver android:name="cn.lzh.utils.recevier.NetworkStateReceiver"/>
      <service android:name=".service.DemoService" />
    </application>

</manifest>
